{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('test_question', questionID = question.id) }}" method=post class=add-entry>
      <dl>
        <dt><h3>{{ question.question }}</h3>
        <dd><textarea name=text rows=20 cols=60>{{ question.givenCode }}</textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
  {% endif %}
  {% if result %}
  <ul class=histories>
    <li><h4>Test Result:</h4><textarea rows=10 cols=60 readonly>{{ result|safe }}</textarea>
  </ul>
  {% endif %}
{% endblock %}